body{
   
    background-color: #2F4F4F !important;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    text-align: center !important;
    gap: 3rem  !important ;
}
span{
    
    font-family: Helvetica;
}
.card{
    border-radius: 5px;
    width:20rem;
    height: 29rem;
    background-color: gray !important;
    color:white;
}
.flag{
    justify-content: center;
    place-content: center;
    text-align: center;
    width:12rem;
    height: 8rem;
    margin:auto;
}

.btn-color{
    color:white !important;
    border-color: white !important;

}
h1{
    background-color: black;
}
